src/main/resources/example_resource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/myOICIntegration" xmlns="http://example.com/myOICIntegration" elementFormDefault="qualified">
    <xs:element name="Request">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="input" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="output" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
